.cards{
    padding-top: 2%;
    width:100%
}
.Textaftercarousel{
   
    font-family:cursive;
    text-align: center;
    background-color:darkcyan;
    color:white;       
    padding-top: 1%;
    height:10vh;                                                    ;
}
.carouselImages{
   height:auto;
    
}
.first1{
    width:80%;
    padding-left: 10%;
}
.Textbeforecarousel{
  font-style: italic;
  font-family: serif;
  color:rgb(4, 32, 32);
  font-size:300%;
  text-align: center;
  
  background-color:darkcyan;
  


}

